.accordion-container{
  margin: 10px;
}

.accordion-container .question{
  background-color: rgb(200, 200, 200);
  padding: 10px;
  margin: 4px 0px;
  cursor: pointer;
}

.accordion-container .answer{
  background-color: rgb(230, 230, 230);
  padding: 10px;
  margin: 4px 0px;
}

.accordion-container button{
  padding: 5px 10px;
  margin: 10px 0px;
}