.theme-container
{
    margin: 10px;
    height: 88vh;
    background-color: var(--background);
    color: var(--text-primary);
}

.theme-container div{
    padding: 100px;
}

.theme-container button{
    border: none;
    padding: 5px 10px;
    margin: 10px;
    background-color: var(--button-bg);
    border-radius: 5px;
    color: var(--button-text);
    cursor: pointer;
}

:root{
    --background: #fff;
    --text-primary : black;
    --button-bg : #000;
    --button-text: #fff;
}

[theme-color = "dark"]
{
    --background: black;
    --text-primary : #fff;
    --button-bg : #fff;
    --button-text: black;
}