.star-container{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .star{
        margin: 10px;
        height: 100px;
        width: 100px;
    }
    
    .star:hover{
        cursor: pointer;
    }
}



/* halfDiv background  */

.halfDiv{
    padding: 5px;
    height: 50px;
    width: 100%;
    background-color: rgb(193, 189, 189);
}

.halfDiv:hover{
    cursor: pointer;
}

div:has(> .halfDiv) {
    border: 2px solid black;
}
  