.scroll-container{
    margin: 10px;   
}

.html{
    scroll-behavior: smooth;
}

.scroll-progress-tracking-container{
    position: fixed;
    top: 10;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 10px;
    text-align: center;
    background-color: rgb(108, 227, 114);
}


.current-progress-bar{
    height: 10px;
    width: 0%;
    background-color: red;
}